services:
  db:
    image: postgres:16
    container_name: db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - ./db/data:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d
    networks:
      - deltalingo-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-admin} -d ${POSTGRES_DB:-project_admin}"]
      interval: 10s
      timeout: 5s
      retries: 5
       
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: unless-stopped
    env_file:
      - ./backend/.env
    networks:
      - deltalingo-network
    depends_on:
      db:
        condition: service_healthy
    
    command: ["node", "dist/index.js"]

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: unless-stopped
    environment:
      NODE_ENV: development
      NEXT_PUBLIC_API_BASE_URL: /api
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    networks:
      - deltalingo-network
    depends_on:
      - backend

  caddy:
    image: caddy:2-alpine
    container_name: caddy
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - deltalingo-network
    depends_on:
      - backend
      - frontend
    environment:
      BACKEND_PORT: 3000

networks:
  deltalingo-network:
    driver: bridge


volumes:
  caddy_data:
  caddy_config: